.jumbotron {
    min-width: 1200px;
    text-align: center;
}
#description_section {
    background: url("../images/yoga-bkgrnd_2.jpg");
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.blurb, .sub-title-font, .title-font {
    font-family: serif;
}
.title-font {
    font-size: 3em;
    font-weight:400;
    color: #a7b742;
}
.sub-title-font {
    font-size: 35px;
    font-weight:700;
    color: #3a3a3c;
    opacity:0.7;
}
.blurb {
    font-weight: 700;
    color: #3a3a3c;
    /*opacity:0.9;*/
}
.highlight {
    color:#a7b742;
    font-weight: 700;
}
#time-btn, #contact-btn {
    margin-top:25px;
    width:200px;
    background-color: #3a3a3c;
    border-color:#3a3a3c;
}
#view_timetable_holder {
    margin-top: 1em;
}
#view_timetable_link {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
#view_classes_holder {
    margin-top: 1em;
}
#view_classes_link {
    background-color: #a7b742;
    color: white;

    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*classes jumbotron*/
 #view_classes {
    background-color: #a7b742;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.class_description {
    background-color: white;
    padding-top: 3em;
    float: left;
    height: 500px;
    width: 720px;
}
.scrollme {
    height: 500px;
    width: 720px;
    overflow: hidden;
    padding-left: 8px;
    border: 1px solid #999;
}
.scrollme-x {
    width: 3000px;
}
#view_calender_link {
    border-bottom-color: #3a3a3c;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*calender*/
 #calender {
    border: 1px solid #ddd;
    background-color: white;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
#calender_holder {
}
#calender_week_days {
    font-weight: bold;
}
#calender p {
    font-size: 14px;
}
